* {
    margin: 0px;
    padding: 0px;
}
/* Question visibility - hidden at first */
#elecactivity {
    display: none;
    visibility: hidden;
}

#electricity_activity {
    display: none;
    visibility: hidden;
}

#timing {
    display: none;
    visibility: hidden;
}

#duration {
    display: none;
    visibility: hidden;
}

#people_flight {
    display: none;
    visibility: hidden;
}

#passengers {
    display: none;
    visibility: hidden;
}

#leaving {
    display: none;
    visibility: hidden;
}

#departure {
    display: none;
    visibility: hidden;
}

#returning {
    display: none;
    visibility: hidden;
}

#arrival {
    display: none;
    visibility: hidden;
}

#moving_type {
    display: none;
    visibility: hidden;
}

#transport_type {
    display: none;
    visibility: hidden;
}

#people_ground {
    display: none;
    visibility: hidden;
}

#passengers_ground {
    display: none;
    visibility: hidden;
}

#distance_ground {
    display: none;
    visibility: hidden;
}

#distance_transport {
    display: none;
    visibility: hidden;
}

#stars {
    display: none;
    visibility: hidden;
}

#rating {
    display: none;
    visibility: hidden;
}

#days {
    display: none;
    visibility: hidden;
}

#nights {
    display: none;
    visibility: hidden;
}

#eating_type {
    display: none;
    visibility: hidden;
}

#restaurant_type {
    display: none;
    visibility: hidden;
}

#money {
    display: none;
    visibility: hidden;
}

#spent {
    display: none;
    visibility: hidden;
}

/* Class to make visible when needed */
.make_visible {
    display: block;
    visibility: visible;
}