{% extends "base.html" %}

{% block content %}
   <body>
      <div class="top">
         <h3>Hello, {{name}}</h3>
         <h3>Your total carbon emissions (CO2e) are {{total}} kg.</h3>
      </div>
      <a href="/add_data">Add a new activity</a>
      <div class="breakdown">
         <div class="electricity">You have used electricity {{counts.get("electricity", 0)}} times, totalling {{tba.get("electricity", 0)}} in CO2e.</div>
         <div class="flight">You have taken {{counts.get("flight", 0)}} flights, totalling {{tba.get("flight", 0)}} in CO2e.</div>
         <div class="transportation">You have used transportation {{counts.get("transportation", 0)}} times, totalling {{tba.get("transportation", 0)}}</div>
         <div class="accommodation">You have stayed in accommodation {{counts.get("accommodation", 0)}} times, totalling {{tba.get("accommodation", 0)}} in CO2e.</div>
         <div class="restaurant">You have dined in restaurants {{counts.get("restaurant", 0)}} times, totalling {{tba.get("restaurant", 0)}} in CO2e.</div>
      </div>
      <div class="chart-container" style="width: 50%; height: 50%;">
         <canvas id="co2eChart"></canvas>
      <br>
      </div>

      <a href="/add_data">ADD</a>
      <br>
      <table id="data_table" class="table table-striped">
         <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Activity</th>
            <th>Electricity Details</th>
            <th>Flight Details</th>
            <th>TransportationDetails </th>
            <th>Accommodation Details</th>
            <th>Restaurant Details</th>
            <th>CO2e</th>
            <th>#</th>
         </thead>
         <tbody>
         </tbody>
   </table>
{% endblock %}

{% block scripts %}
   <script id="chart-data" type="application/json">{{ tba | tojson }}</script>
      <script type="text/javascript">
         var chart_data = JSON.parse(document.getElementById('chart-data').textContent || '{}');
         var chart_labels = Object.keys(chart_data);
         var chart_values = Object.values(chart_data);
         console.log(chart_values)
      </script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
   </script>

   <script>
            for (const[index, value] of chart_values.entries()) {
               chart_values[index] = parseInt(chart_values[index].split(' ')[0])
            }
            
            const ctx = document.getElementById('co2eChart');

            new Chart(ctx, {
               type: "bar",
               data: {
                  labels: chart_labels,
                  datasets: [{
                  backgroundColor: "green",
                  data: chart_values,
               }]
            },
            options: {
               plugins: {
                  legend: {display: false},
                  title: {
                     display: true,
                     text: "Total Carbon Emissions (CO2e) by Activity Type",
                     font: {size: 16}
                  }     
               }
            }
            });
            
   </script>

   <script>
      $(document).ready( function () {
         $('#data_table').DataTable({
            ajax: '/api/data',
            columns: [
               {data: 'id'},
               {data: 'name'},
               {data: 'activity'},
               {
                  data: null,
                  render: function (data, type, row) {
                     const act = row.elecactivity || "N/A"; 
                     const dur = row.duration || "N/A";
                     const pow = row.power_usage || "N/A";
                     if (act === "N/A") {
                        return "Did not use electricity!"
                     }
                     else {
                        return `Used ${act} for ${dur} hrs, resulting in ${pow} kWh being used.`
                     }
                  }
               },
               {
                  data: null,
                  render: function (data, type, row) {
                     const distfly = row.distance_flight || "N/A";
                     const passfly = row.passengers_flight || "N/A"
                     if (distfly === "N/A") {
                        return "Didn't go on a flight!"
                     }
                     else {
                        return `Flew on a ${distfly} mi flight with ${passfly} passengers.`
                     }                     
                  }
               },
               {
                  data: null,
                  render: function(data, type, row) {
                     const typetrans = row.transport_type || "N/A";
                     const disttrans = row.distance_transport || "N/A";
                     const passtrans = row.passengers_transport || "N/A";
                     if (typetrans === "N/A") {
                        return "Did not use grand transport!"
                     }
                     else {
                        return `Went on a ${typetrans} for ${disttrans} mi with ${passtrans} passengers.`
                     }
                  }
               },
               {
                  data: null,
                  render: function(data, type, row) {
                     const rat = row.rating || "N/A";
                     const nit = row.nights || "N/A";
                     if (rat === "N/A") {
                        return "Did not stay in accommodation!"
                     }
                     else {
                        return `Stayed at a ${rat} hotel for ${nit} nights.`
                     }
                  }
               },
               {
                  data: null,
                  render: function(data, type, row) {
                     const resttype = row.restaurant_type || "N/A";
                     const spent = row.spent || "N/A";
                     if (resttype === "N/A") {
                        return "Did not dine at a restaurant!"
                     }
                     else {
                        return `Dined at a ${resttype} restaurant and spent ${spent} USD.`
                     }

                  }
               },
               {data: 'co2e'}
            ]
         });
      } );
   </script>
{% endblock %}
