{% extends "base.html" %}

{% block head_extra %}
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
   <body>
      <main class="mt-5-pt-3">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12 fw-bold fs-1">Hello, {{name}}. Your total carbon emissions (CO2e) are {{total}} kg.</div>
            </div>
         </div>
      </main>
      <br><br>
      <div class="row">
         <div class="col-sm-4">
            <div class="card" id="card6">
               <div class="card-body">
                  <h5 class="card-title">Electricity</h5>
                  <p class="card-text">You have used electricity {{counts.get("Electricity", 0)}} times, totaling {{tba.get("Electricity", 0)}} kg in CO2e.</p>
               </div>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="card" id="card7">
               <div class="card-body">
                  <h5 class="card-title">Transportation</h5>
                  <p class="card-text">You have used transportation {{counts.get("Transportation", 0)}} times, totaling {{tba.get("Transportation", 0)}} kg in CO2e.</p>
               </div>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="card" id="card8">
               <div class="card-body">
                  <h5 class="card-title">Flight</h5>
                  <p class="card-text">You have taken {{counts.get("Flight", 0)}} flights, totaling {{tba.get("Flight", 0)}} kg in CO2e.</p>
               </div>
            </div>
         </div>
      </div>
      <br><br>
      <div class="row">
         <div class="col-sm-4">
            <div class="card" id="card9">
               <div class="card-body">
                  <h5 class="card-title">Accommodation</h5>
                  <p class="card-text">You have stayed in accommodation {{counts.get("Accommodation", 0)}} times, totaling {{tba.get("Accommodation", 0)}} kg in CO2e.</p>
               </div>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="card" id="card10">
               <div class="card-body">
                  <h5 class="card-title">Restaurant</h5>
                  <p class="card-text">You have dined in restaurants {{counts.get("Restaurant", 0)}} times, totaling {{tba.get("Restaurant", 0)}} kg in CO2e.</p>
               </div>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="card" id="card11">
               <div class="card-body">
                  <h5 class="card-title">Add</h5>
                  <a href="/add_data" class="card-link">Add here</a>
               </div>
            </div>
         </div>
      </div>
      <br><br>
      <div class="row">
         <div class="col-12">
            <div class="card">
               <div class="card-header">Total Carbon Emissions (CO2e) by Activity Type</div>
               <div class="card-body">
                  <canvas class="chart" height="300px"></canvas>
               </div>
            </div>
         </div>
      </div>
      <br><br>
      <div class="row">
         <div class="col-12">
            <div class="card">
               <div class="card-header">Activity Details</div>
               <div class="card-body">
                  <div class="table-responsive">
                     <table id="data_table" class="table table-striped">
                        <thead>
                           <th>Id</th>
                           <th>Name</th>
                           <th>Activity</th>
                           <th>Electricity Details</th>
                           <th>Flight Details</th>
                           <th>Transportation Details </th>
                           <th>Accommodation Details</th>
                           <th>Restaurant Details</th>
                           <th>CO2e</th>
                        </thead>
                        <tbody>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>

{% endblock %}

{% block scripts %}
   <script id="chart-data" type="application/json">{{ tba | tojson }}</script>
      <script type="text/javascript">
         var chart_data = JSON.parse(document.getElementById('chart-data').textContent || '{}');
         var chart_labels = Object.keys(chart_data);
         var chart_values = Object.values(chart_data);
         for (const[index, value] of chart_values.entries()) {
               chart_values[index] = parseInt(chart_values[index].split(' ')[0])
         }
      </script>
   </script>

   <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>

   <script>
      const charts = document.querySelectorAll(".chart")
      charts.forEach(function (chart) {
         const ctx = chart.getContext("2d");
         var co2eChart = new Chart(ctx, {
            type: "bar",
               data: {
                  labels: chart_labels,
                  datasets: [{
                     label: "kg of CO2e",
                     data: chart_values,
                     backgroundColor: [
                     "rgba(142, 182, 155, 0.2)",
                     "rgba(118, 148, 76, 0.2)",
                     "rgba(94, 140, 49, 0.2)",
                     "rgba(50, 100, 18, 0.2)",
                     "rgba(2, 80, 35, 0.2)"
                     ],
                     borderColor: [
                     "rgba(142, 182, 155, 1)",
                     "rgba(118, 148, 76, 1)",
                     "rgba(94, 140, 49, 1)",
                     "rgba(50, 100, 18, 1)",
                     "rgba(2, 80, 35, 1)"
                     ],
                     borderWidth: 1
               }]
            },
            options: {
               responsive: true,
               maintainAspectRatio: false,
               scales: {
                  y: {
                     beginAtZero: true
                  }
               }
            }
         })

      })            
   </script>

   <script>
      $(document).ready( function () {
         $('#data_table').DataTable({
            ajax: '/api/data/{{ name }}',
            columns: [
               {data: 'id'},
               {data: 'name'},
               {data: 'activity'},
               {
                  data: null,
                  render: function (data, type, row) {
                     const act = row.elecactivity || "N/A"; 
                     const dur = row.duration || "N/A";
                     const pow = row.power_usage || "N/A";
                     if (act === "N/A") {
                        return "Did not use electricity!"
                     }
                     else {
                        return `Used ${act} for ${dur} hrs, resulting in ${pow} kWh being used.`
                     }
                  }
               },
               {
                  data: null,
                  render: function (data, type, row) {
                     const distfly = row.distance_flight || "N/A";
                     const passfly = row.passengers_flight || "N/A"
                     if (distfly === "N/A") {
                        return "Didn't go on a flight!"
                     }
                     else {
                        return `Flew on a ${distfly} mi flight with ${passfly} passengers.`
                     }                     
                  }
               },
               {
                  data: null,
                  render: function(data, type, row) {
                     const typetrans = row.transport_type || "N/A";
                     const disttrans = row.distance_transport || "N/A";
                     const passtrans = row.passengers_transport || "N/A";
                     if (typetrans === "N/A") {
                        return "Did not use ground transport!"
                     }
                     else {
                        return `Went on a ${typetrans} for ${disttrans} mi with ${passtrans} passengers.`
                     }
                  }
               },
               {
                  data: null,
                  render: function(data, type, row) {
                     const rat = row.rating || "N/A";
                     const nit = row.nights || "N/A";
                     if (rat === "N/A") {
                        return "Did not stay in accommodation!"
                     }
                     else {
                        return `Stayed at a ${rat} hotel for ${nit} nights.`
                     }
                  }
               },
               {
                  data: null,
                  render: function(data, type, row) {
                     const resttype = row.restaurant_type || "N/A";
                     const spent = row.spent || "N/A";
                     if (resttype === "N/A") {
                        return "Did not dine at a restaurant!"
                     }
                     else {
                        return `Dined at a ${resttype} restaurant and spent ${spent} USD.`
                     }

                  }
               },
               {
                  data: null,
                  render: function(data, type, row) {
                     return `${row.co2e} kg`
                  }}
            ]
         });
      } );
   </script>
{% endblock %}
