<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Carbon Estimate Form</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
            <script src="{{ url_for('static', filename='app.js') }}"></script>
    </head>
    <body>
        <p>Form page</p>
        <form action="{{ url_for('formdata') }}" method="post">
            <p>
                <label>Username/Nickname:</label>
                <input type="text" id="name" name="user_name" /><br><br>
                <label for="activity">Activity (Choose One): </label>
                <select id="activity" name="activity" size="4">
                    <option value="electricity">Used Electricity</option>
                    <option value="flight">Took a Flight</option>
                    <option value="shipping">Shipped Parcel</option>
                    <option value="bought_shipping">Bought Good Requiring Shipping</option>
                    <option value="vehicle">Car Ride</option>
                </select><br><br>

                <label for="electricity_activity">What Specifically Used Electricity? </label>
                <select id="electricity_activity" name="electricity_activity">
                    <option value="heating">Portable Heater</option>
                    <option value="cooling">A/C (Window/Wall)</option>
                    <option value="cooling_fan">Ceiling Fan</option>
                    <option value="kitchen_appliances_oven">Oven</option>
                    <option value="kitchen_appliances_dishwasher">Dishwasher</option>
                    <option value="refrigeration">Refrigerator</option>
                    <option value="electronic_tv">TV</option>
                    <option value="electronic_desktop">Desktop PC</option>
                    <option value="electronic_laptop">Laptop</option>
                    <option value="electronic_monitor">Monitor</option>
                </select><br><br>
                <label for="duration">Duration(in hrs or, for refrigerator, days): </label>
                <input id="duration" type="text" name="duration"><br><br>
                <label for="country">Country: </label>
                <input id="country" type="text" name="country"><br><br>
                <label for="state">State: </label>
                <input id="state" type="text" name="state"><br><br>

                <button id="submitForm" type="submit">Submit</button>
        </p>
    </form>
  </body>
</html>