{% extends "base.html" %}

{% block content %}
   <a href="/add_data">ADD</a>
   <br>
   <table id="data_table" class="table table-striped">
      <thead>
         <th>Id</th>
         <th>Name</th>
         <th>Activity</th>
         <th>Electricity Details</th>
         <th>Flight Details</th>
         <th>TransportationDetails </th>
         <th>Accommodation Details</th>
         <th>Restaurant Details</th>
         <th>CO2e</th>
         <th>#</th>
      </thead>
      <tbody>
      </tbody>
   </table>
{% endblock %}

{% block scripts %}
   <script>
      $(document).ready( function () {
         $('#data_table').DataTable({
            ajax: '/api/data',
            columns: [
               {data: 'id'},
               {data: 'name'},
               {data: 'activity'},
               {
                  data: null,
                  render: function (data, type, row) {
                     const act = row.elecactivity || "N/A"; 
                     const dur = row.duration || "N/A";
                     const pow = row.power_usage || "N/A";
                     if (act === "N/A") {
                        return "Did not use electricity!"
                     }
                     else {
                        return `Used ${act} for ${dur} hrs, resulting in ${pow} kWh being used.`
                     }
                  }
               },
               {
                  data: null,
                  render: function (data, type, row) {
                     const distfly = row.distance_flight || "N/A";
                     const passfly = row.passengers_flight || "N/A"
                     if (distfly === "N/A") {
                        return "Didn't go on a flight!"
                     }
                     else {
                        return `Flew on a ${distfly} mi flight with ${passfly} passengers.`
                     }                     
                  }
               },
               {
                  data: null,
                  render: function(data, type, row) {
                     const typetrans = row.transport_type || "N/A";
                     const disttrans = row.distance_transport || "N/A";
                     const passtrans = row.passengers_transport || "N/A";
                     if (typetrans === "N/A") {
                        return "Did not use grand transport!"
                     }
                     else {
                        return `Went on a ${typetrans} for ${disttrans} mi with ${passtrans} passengers.`
                     }
                  }
               },
               {
                  data: null,
                  render: function(data, type, row) {
                     const rat = row.rating || "N/A";
                     const nit = row.nights || "N/A";
                     if (rat === "N/A") {
                        return "Did not stay in accommodation!"
                     }
                     else {
                        return `Stayed at a ${rat} hotel for ${nit} nights.`
                     }
                  }
               },
               {
                  data: null,
                  render: function(data, type, row) {
                     const resttype = row.restaurant_type || "N/A";
                     const spent = row.spent || "N/A";
                     if (resttype === "N/A") {
                        return "Did not dine at a restaurant!"
                     }
                     else {
                        return `Dined at a ${resttype} restaurant and spent ${spent} USD.`
                     }

                  }
               },
               {data: 'co2e'}
            ]
         });
      } );
   </script>
{% endblock %}