{% extends "base.html" %}

{% block head_extra %}
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
   <link rel="stylesheet" src="">
   <div class="row">
      <div class="col-12">
         <div class="card bg-dark text-white text-center">
            <img class="card-img" src="{{ url_for('static', filname='download.jpg') }}" alt="Green Background Img">
            <div class="card-img-overlay">
               <h2 class="card-text">CARBON ESTIMATOR</h5>
            </div>
         </div>
      </div>
   </div>
   <br><br>
   <div class="row">
      <div class="col-4">
         <div id="card1" class="card bg-dark text-white" width="100%">
            <div class="card-body">
               <h5 class="card-title">Household Energy</h5>
               <h6 class="card-subtitle mb-2 text-muted">Source: EPA</h6>
               <p class="card-text">An average US household generates around 4.8 billion metric tons of CO2 per year from electricity use.</p>
            </div>
         </div>
      </div>
      <div class="col-4">
         <div id="card2" class="card bg-dark text-white" width="100%">
            <div class="card-body">
               <h5 class="card-title">Transportation</h5>
               <h6 class="card-subtitle mb-2 text-muted">Source: IPCC</h6>
               <p class="card-text">Data from 2019 shows that all forms of ground transportation generate around 6.2 billion metric tons of CO2.</p>
            </div>
         </div>
      </div>
      <div class="col-4">
         <div id="card3" class="card bg-dark text-white" width="100%">
            <div class="card-body">
               <h5 class="card-title">Aviation</h5>
               <h6 class="card-subtitle mb-2 text-muted">Source: IEA</h6>
               <p class="card-text">In 2023, air travel generated around 2.5% of all global energy-related CO2 emissions, around 882 to 950 million metric tons.</p>
            </div>
         </div>
      </div>
   </div>
   <br><br>
   <div class="row">
      <div class="col-6">
         <div id="card4" class="card bg-dark text-white" width="100%">
            <div class="card-body">
               <h5 class="card-title">Accommodation</h5>
               <h6 class="card-subtitle mb-2 text-muted">Source: WSHA, Circular Ecology, Climatiq</h6>
               <p class="card-text">On average, a hotel room generates 9.2 metric tons of CO2 per year, and around 9-10.4 kg of CO2 are released per night at US or UK hotels.</p>
            </div>
         </div>
      </div>
      <div class="col-6">
         <div id="card5" class="card" width="100%">
            <div class="card-body">
               <h5 class="card-title">Restaurants</h5>
               <h6 class="card-subtitle mb-2 text-muted">Source: JHU, USDA</h6>
               <p class="card-text">An average restaurant generates around 427.6 metric tons of CO2 per year, not accounting for food waste, which generates around 170 metric tons of CO2 yearly.</p>
            </div>
         </div>
      </div>
   </div>
   <br><br>
   <div class="row">
      <div class="col-12">
         <div class="card text-center" width="100%">
            <div class="card-body">
               <h3 class="card-text">Sustainability starts with you.</h2>
               <a href="/add_data" class="card-link">Start tracking your footprint now.</a>
            </div>
         </div>
      </div>
   </div>
   <br><br>
   <table id="data_table" class="table table-striped">
      <thead>
         <th>Id</th>
         <th>Name</th>
         <th>Activity</th>
         <th>Electricity Details</th>
         <th>Flight Details</th>
         <th>Transportation Details </th>
         <th>Accommodation Details</th>
         <th>Restaurant Details</th>
         <th>CO2e</th>
         <th>#</th>
      </thead>
      <tbody>
      </tbody>
   </table>
{% endblock %}

{% block scripts %}
   <script>
      $(document).ready( function () {
         $('#data_table').DataTable({
            ajax: '/api/data',
            columns: [
               {data: 'id'},
               {data: 'name'},
               {data: 'activity'},
               {
                  data: null,
                  render: function (data, type, row) {
                     const act = row.elecactivity || "N/A"; 
                     const dur = row.duration || "N/A";
                     const pow = row.power_usage || "N/A";
                     if (act === "N/A") {
                        return "Did not use electricity!"
                     }
                     else {
                        return `Used ${act} for ${dur} hrs, resulting in ${pow} kWh being used.`
                     }
                  }
               },
               {
                  data: null,
                  render: function (data, type, row) {
                     const distfly = row.distance_flight || "N/A";
                     const passfly = row.passengers_flight || "N/A"
                     if (distfly === "N/A") {
                        return "Didn't go on a flight!"
                     }
                     else {
                        return `Flew on a ${distfly} mi flight with ${passfly} passengers.`
                     }                     
                  }
               },
               {
                  data: null,
                  render: function(data, type, row) {
                     const typetrans = row.transport_type || "N/A";
                     const disttrans = row.distance_transport || "N/A";
                     const passtrans = row.passengers_transport || "N/A";
                     if (typetrans === "N/A") {
                        return "Did not use grand transport!"
                     }
                     else {
                        return `Went on a ${typetrans} for ${disttrans} mi with ${passtrans} passengers.`
                     }
                  }
               },
               {
                  data: null,
                  render: function(data, type, row) {
                     const rat = row.rating || "N/A";
                     const nit = row.nights || "N/A";
                     if (rat === "N/A") {
                        return "Did not stay in accommodation!"
                     }
                     else {
                        return `Stayed at a ${rat} hotel for ${nit} nights.`
                     }
                  }
               },
               {
                  data: null,
                  render: function(data, type, row) {
                     const resttype = row.restaurant_type || "N/A";
                     const spent = row.spent || "N/A";
                     if (resttype === "N/A") {
                        return "Did not dine at a restaurant!"
                     }
                     else {
                        return `Dined at a ${resttype} restaurant and spent ${spent} USD.`
                     }

                  }
               },
               {
                  data: null,
                  render: function(data, type, row) {
                     return `${co2e} kg`
                  }
               }
            ]
         });
      } );
   </script>
{% endblock %}